.page-header.d-print-none
  .container-xl
    = render("shared/alerts")

    .row.g-2.align-items-center
      .col
        %h2.page-title
          - if content_for?(:page_heading)
            = yield(:page_heading)
          - else
            = title(resource)

      - if content_for?(:page_actions)
        .col-auto.ms-auto.d-print-none
          .btn-list
            = yield(:page_actions)
