<button type="button" class="btn" title="Filters" data-bs-toggle="offcanvas" data-bs-target="#filters-canvas" aria-controls="filters-canvas">
  <i class="icon ti ti-filter"></i> Filters
  <span class="badge bg-blue text-blue-fg badge-notification badge-pill">2</span>
</button>
