<% filter_count = filter_form.attributes.values.count(&:present?) %>

<button type="button" class="btn" title="Filters" data-bs-toggle="offcanvas" data-bs-target="#filters-canvas" aria-controls="filters-canvas">
  <i class="icon ti ti-filter"></i> Filters
  <% if filter_count > 0 %>
    <span class="badge bg-blue text-blue-fg badge-notification badge-pill"><%= filter_count %></span>
  <% end %>
</button>
