default: &default
  app_subdomain: <%= ENV.fetch("APP_SUBDOMAIN", "app") %>
  api_subdomain: <%= ENV.fetch("API_SUBDOMAIN", "api") %>
  mailer_sender: <%= ENV.fetch("MAILER_SENDER", "no-reply@open-ews.org") %>
  app_url_host: <%= ENV.fetch("APP_URL_HOST", "https://app.open-ews.org") %>
  asset_host: <%= ENV.fetch("ASSET_HOST", "https://app.open-ews.org") %>
  aws_sqs_high_priority_queue_name: <%= ENV.fetch("AWS_SQS_HIGH_PRIORITY_QUEUE_NAME", "high-priority") %>
  aws_sqs_default_queue_name: <%= ENV.fetch("AWS_SQS_DEFAULT_QUEUE_NAME", "default") %>
  aws_sqs_low_priority_queue_name: <%= ENV.fetch("AWS_SQS_LOW_PRIORITY_QUEUE_NAME", "low-priority") %>
  aws_sqs_scheduler_queue_name: <%= ENV.fetch("AWS_SQS_SCHEDULER_QUEUE_NAME", "scheduler") %>
  aws_region: <%= ENV.fetch("AWS_DEFAULT_REGION", "ap-southeast-1") %>
  uploads_bucket: <%= ENV.fetch("UPLOADS_BUCKET", "uploads.open-ews.org") %>
  audio_host: <%= ENV.fetch("AUDIO_HOST", "https://uploads.open-ews.org") %>
  admin_username: "admin"
  admin_password: "password"

production: &production
  <<: *default
  sentry_dsn: "<%= Rails.application.credentials.sentry_dsn %>"
  admin_password: "<%= ENV.fetch("ADMIN_PASSWORD") { Rails.application.credentials.admin_password } %>"

staging:
  <<: *production
  app_url_host: <%= ENV.fetch("APP_URL_HOST", "https://app-staging.open-ews.org") %>
  api_subdomain: <%= ENV.fetch("API_SUBDOMAIN", "api-staging") %>

development: &development
  <<: *default
  app_url_host: "http://app.lvh.me:3000"

test:
  <<: *development
  app_url_host: "http://app.lvh.me"
