<p><%= t("devise.mailer.invitation_instructions.hello", email: @resource.name) %></p>

<p><%= t("devise.mailer.invitation_instructions.someone_invited_you", url: @resource.account.name) %></p>

<%= link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token, host: @host), class: "btn btn-primary p-3 fw-700 ax-center" %>

<p class="text-muted"><%= t("devise.mailer.invitation_instructions.ignore") %></p>
